CCSWITCH_BUILD_REPO=konijiwa110/cc-switch-cli
CCSWITCH_BUILD_BRANCH=main
CCSWITCH_RELEASE_WORKFLOW=release.yml
CCSWITCH_GH_POLL_SECONDS=20
CCSWITCH_GH_TIMEOUT_SECONDS=3600

CCSWITCH_REMOTE_13_HOST=100.64.0.13
CCSWITCH_REMOTE_13_PORT=22
CCSWITCH_REMOTE_13_USER=jasper
CCSWITCH_REMOTE_13_PASSWORD=
CCSWITCH_REMOTE_13_SUDO_PASSWORD=
CCSWITCH_REMOTE_13_TARGET=

CCSWITCH_UGREEN_HOST=100.64.0.2
CCSWITCH_UGREEN_PORT=2323
CCSWITCH_UGREEN_USER=jasper
CCSWITCH_UGREEN_PASSWORD=
CCSWITCH_UGREEN_SUDO_PASSWORD=
CCSWITCH_UGREEN_TARGET=

CCSWITCH_PANTHERX2_HOST=100.64.0.10
CCSWITCH_PANTHERX2_PORT=22
CCSWITCH_PANTHERX2_USER=root
CCSWITCH_PANTHERX2_PASSWORD=
CCSWITCH_PANTHERX2_SUDO_PASSWORD=
CCSWITCH_PANTHERX2_TARGET=
